<div class="page">
  <a routerLink="/">Home</a>
  <p>Générer une application JHipster est très simple, il suffit de passer par JHipster Online.</p>
  <p>Zoomez pour mieux voir</p>
  <img src="content/images/Command génération application-1.png" height="800" class="border" />
  <img src="content/images/Command génération application-2.png" height="800" class="border" />
  <p>SINON, nous pous faire la même chose avec les commandes :</p>
  <ul>
    <li>jhipster</li>
    <li>Fill the form by answering to the questions</li>
  </ul>
  <p>La réponse de génération a était :</p>
  <img src="content/images/command generation answer.png" class="border" />
</div>
